<nav class="taskbar">
    
    <div class="taskbar-left">
      <a href="https://aboveandbeyondnannies.com/" target="_blank">
        <img src="https://portal.nannylogic.com/users/logo-abn.png" alt="Company Logo" class="logo" />
      </a>
    </div>
  

    <div class="taskbar-icons">
    
      <a href="mailto:erin@aboveandbeyondnannies.com" title="Send us an email">
        <img src="email1-abn.png" alt="Email" />
      </a>
  
      <a href="tel:612-747-1471" title="Call us">
        <img src="call1-abn.png" alt="Phone" />
      </a>
  
    
      <a href="https://aboveandbeyondnannies.com" target="_blank" title="Visit website">
        <img src="website3.png" alt="Website" />
      </a>
    </div>
  </nav>