<nav class="taskbar">
    <div class="taskbar-left">
      <a href="https://aboveandbeyondnannies.com/" target="_blank">
        <img src="https://portal.nannylogic.com/users/logo-abn.png" width="95px" height="80px" padding="10px" alt="Company Logo" class="logo" />
      </a>
    </div>
  

    <div class="taskbar-icons">
    
      <a href="mailto:erin@aboveandbeyondnannies.com" title="Send us an email">
        <img src="assets/images/email1-abn.png" width="50px" height="50px" padding="10px" alt="Email" />

      </a>
  
      <a href="tel:612-747-1471" title="Call us">
        <img src="assets/images/call1-abn.png" width="50px" height="50px" pading="10px" alt="Phone" />
      </a>
  
    
      <a href="https://aboveandbeyondnannies.com" target="_blank" title="Visit website">
        <img src="assets/images/website3.png" width="50px" height="50px" padding="10px" alt="Website" />
      </a>
    </div>
</nav>